<% @page_title = "Create Assignment" %>



<section class="assignment new">
  <h1>Create Assignment</h1>
  <div class="section_container">
  <%= form_for(@assignment) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Assignment") %>
    </div>
    
  <% end %>
</div>
</section>
