<% @page_title = "Edit Admin: #{@admin.name}" -%>

<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<section class="admin edit">
  <h1>Edit Admin</h1>
  <div class="section_container">
  <%= form_for(@admin, :url => admin_path(@admin.id), :html => { :method => :put }) do |f| %>
    
  	<%= render(:partial => 'form', :locals => {:f => f} ) %>
	
  	<div class="form-buttons">
  	  <%= submit_tag('Update Admin', :class => "submit") %>
    </div>
  <% end %>
</div>
</section>