<% @page_title = "Edit Admin: #{@admin.name}" -%>

<%= link_to("<< Back to List", admins_path, :class => 'back-link') %>

<div class="admin edit">
  <h2>Edit Admin</h2>

  <%= form_for(@admin) do |f| %>
    
  	<%= render(:partial => 'form', :locals => {:f => f} ) %>
	
  	<div class="form-buttons">
  	  <%= submit_tag('Update Admin') %>
    </div>
  <% end %>
</div>
