<% @page_title = "Edit Student: #{@student.name}" -%>

<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<section class="student edit">
  <h1>Edit Student</h1>
  <div class="section_container">
  <%= form_for(@student, :url => student_path(@student.id), :html => { :method => :put }) do |f| %>
    
  	<%= render(:partial => 'form', :locals => {:f => f} ) %>
	
  	<div class="form-buttons">
  	  <%= submit_tag('Update Student', :class => "submit") %>
    </div>
  <% end %>
</div>
</section>