html, body {
  font: 12px helvetica, arial, sans-serif;
  height: 100%; }

body {
  background: #d0cdbc; }

header, footer, nav {
  display: block; }

.site_contain {
  width: 940px;
  margin: auto; }

a {
  text-decoration: none; }

.alerts li {
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  padding: 5px;
  margin-bottom: 10px; }
  .alerts li.school_alert {
    background: #b83113; }
  .alerts li.exam_alert {
    background: #6677af; }

section {
  margin-top: 40px;
  float: left; }

.section_container {
  background: #fff;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  margin: 0; }

h1 {
  display: inline;
  font: 16pt Arvo, Rockwell;
  color: #492f22;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #fff;
  padding-left: 15px;
  margin-top: -30px;
  float: left; }

.settings {
  width: 17px;
  height: 16px;
  background: url("images/cog.png") top left no-repeat;
  text-indent: -9999px;
  padding-right: 15px;
  margin-top: -25px;
  float: right; }

.more {
  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  background: #fff;
  padding: 0 10px 10px;
  margin: 0px 20px 0 0;
  float: right; }
  .more a {
    font-style: italic;
    color: #6677af; }

.stripelist li {
  height: 12px;
  padding: 14px;
  background: #f5f3ea; }
  .stripelist li.list_test {
    background: #e9eaf5; }
  .stripelist li:first-child {
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0; }
  .stripelist li:last-child {
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px; }
  .stripelist li:nth-child(2n+2) {
    background: #e8e6db; }
    .stripelist li:nth-child(2n+2).list_test {
      background: #dadce8; }

.clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

header {
  background: #492f22;
  height: 16px;
  margin-bottom: 10px;
  padding: 12px;
  text-align: center;
  color: #fff; }
  header nav {
    display: block;
    width: 940px;
    margin: 0 auto; }
    header nav li {
      float: left;
      margin-left: 20px;
      color: #fff; }
      header nav li a {
        color: #f5f3ea;
        font-style: none;
        font-weight: bold; }
        header nav li a:hover {
          color: #e8e6db; }
    header nav input {
      width: 280px;
      height: 30px; }

.section_todo {
  width: 620px;
  margin-right: 20px; }

ul.todo_list {
  height: 280px;
  width: 100%; }
  ul.todo_list li .urgency {
    width: 10px;
    height: 40px;
    margin: -14px 14px 0 -14px;
    background: #000;
    opacity: 0.05;
    float: left; }
    ul.todo_list li .urgency.urgent {
      height: 38px;
      background: #b83113;
      opacity: 1;
      border-top: 1px solid #c65a42;
      border-bottom: 1px solid #a52c11; }
  ul.todo_list li.list_test .urgent {
    background: #06408f;
    opacity: 1;
    border-top: 1px solid #7171f0;
    border-bottom: 1px solid #032b61; }
  ul.todo_list li.list_test strong {
    font-weight: bold; }
  ul.todo_list li:first-child .urgency {
    border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0; }
  ul.todo_list li:last-child .urgency {
    border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    -webkit-border-radius: 0 0 0 5px; }
  ul.todo_list li .todo_class {
    font-size: 10px;
    color: #492f22;
    padding-right: 15px; }
  ul.todo_list li .todo_due {
    font-size: 10px;
    font-style: italic;
    display: block;
    text-align: right;
    margin-top: -14px; }
    ul.todo_list li .todo_due.leveltest {
      font-weight: bold;
      color: #06408f; }
    ul.todo_list li .todo_due.level1 {
      font-weight: bold;
      color: #b83113; }
    ul.todo_list li .todo_due.level2 {
      color: #b66452; }
    ul.todo_list li .todo_due.level3 {
      color: #aa8647; }

.section_calendar {
  width: 300px;
  height: 300px; }
  .section_calendar table {
    margin: auto; }
  .section_calendar hgroup {
    background: blue;
    height: 70px; }
    .section_calendar hgroup nav {
      margin: auto; }
  .section_calendar table tr {
    background: #f5f3ea;
    text-align: center; }
    .section_calendar table tr:nth-child(even) td:nth-child(even) {
      background: #e8e6db; }
    .section_calendar table tr:nth-child(odd) td:nth-child(odd) {
      background: #e8e6db; }
    .section_calendar table tr:nth-child(odd) .notmonth {
      background: #efefef; }
    .section_calendar table tr:nth-child(odd) td.notmonth:nth-child(odd) {
      background: #e1e1e1; }
    .section_calendar table tr:nth-child(1) td:nth-child(1) {
      border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0; }
    .section_calendar table tr:nth-child(1) td:nth-child(7) {
      border-radius: 0 5px 0 0;
      -moz-border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0; }
    .section_calendar table tr:nth-child(5) td:nth-child(1) {
      border-radius: 0 0 0 5px;
      -moz-border-radius: 0 0 0 5px;
      -webkit-border-radius: 0 0 0 5px; }
    .section_calendar table tr:nth-child(5) td:nth-child(7) {
      border-radius: 0 0 5px 0;
      -moz-border-radius: 0 0 5px 0;
      -webkit-border-radius: 0 0 5px 0; }
    .section_calendar table tr div.task_contain {
      width: 26px;
      height: 26px;
      padding: 7px; }
      .section_calendar table tr div.task_contain div.task {
        float: right;
        margin-left: 3px;
        width: 7px;
        height: 7px;
        background: url(../images/calendar.png);
        background-position: 0 0;
        overflow: hidden;
        text-indent: -9999px; }
        .section_calendar table tr div.task_contain div.task.completed {
          background-positiong: 7px 0; }
        .section_calendar table tr div.task_contain div.task.task_alert {
          float: left;
          margin-right: 3px;
          margin-left: 0;
          background-position: 14px 0;
          margin-top: 19px; }
        .section_calendar table tr div.task_contain div.task.task_test {
          float: left;
          bottom: 7px;
          margin-right: 3px;
          margin-left: 0;
          background-position: 21px 0;
          margin-top: 19px; }
    .section_calendar table tr td {
      margin: 0;
      padding: 0;
      width: 40px;
      height: 40px;
      overflow: hidden; }
      .section_calendar table tr td.today {
        width: 28px;
        height: 28px;
        border: 4px solid #b83113; }
        .section_calendar table tr td.today div.task_contain {
          width: 26px;
          height: 26px;
          padding: 3px; }
  .section_calendar table thead tr {
    height: 10px;
    font: 8px helvetica, arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    background: #fff; }

.section_class_dashboard {
  width: 940px; }
  .section_class_dashboard nav ul.stripelist {
    width: 280px;
    font-weight: bold;
    float: left;
    margin-right: 40px; }
    .section_class_dashboard nav ul.stripelist li a {
      margin: -14px 0 0 -14px;
      padding: 14px 0 0 14px;
      display: block;
      color: #492f22;
      width: 266px;
      height: 26px; }
    .section_class_dashboard nav ul.stripelist li a.selected {
      background: #b83113;
      color: #fff; }
    .section_class_dashboard nav ul.stripelist li:first-child a {
      border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px 5px 0 0; }
    .section_class_dashboard nav ul.stripelist li:last-child a {
      border-radius: 0 0 5px 5px;
      -moz-border-radius: 0 0 5px 5px;
      -webkit-border-radius: 0 0 5px 5px; }
  .section_class_dashboard .class_selected {
    position: absolute;
    margin-left: 320px;
    background: white;
    width: 600px; }
    .section_class_dashboard .class_selected hgroup {
      height: 100px; }
      .section_class_dashboard .class_selected hgroup h2 {
        padding-top: 10px;
        font: 15pt Arvo, Rockwell;
        color: #b83113; }
      .section_class_dashboard .class_selected hgroup .class_details {
        margin: -10px 0 0 17px;
        width: 580px; }
        .section_class_dashboard .class_selected hgroup .class_details .teacher {
          font-size: 14px;
          font-style: italic;
          color: #543d31; }
        .section_class_dashboard .class_selected hgroup .class_details .time {
          color: #999585;
          font-style: italic;
          font-size: 12px; }
    .section_class_dashboard .class_selected h3 {
      font: 11pt Arvo, Rockwell;
      text-transform: uppercase;
      color: #999585;
      height: 20px; }
    .section_class_dashboard .class_selected .class_pages {
      width: 120px;
      padding: 0 10px 10px 10px;
      float: left; }
      .section_class_dashboard .class_selected .class_pages nav {
        padding: 20px 0 0 12px; }
        .section_class_dashboard .class_selected .class_pages nav li {
          padding-bottom: 6px; }
          .section_class_dashboard .class_selected .class_pages nav li a {
            font-style: italic;
            color: #5265a5; }
    .section_class_dashboard .class_selected .todo_list {
      height: 160px;
      width: 460px;
      float: left; }

.adminarea div.content {
  width: 600px;
  margin: 0 auto; }
.adminarea section {
  width: 100%; }
.adminarea div.section_container {
  width: 100%; }
.adminarea h1 {
  text-align: center;
  display: block;
  width: 100%; }
.adminarea .section_adminmenu {
  width: 400px; }
  .adminarea .section_adminmenu div.section_container {
    text-align: center; }
    .adminarea .section_adminmenu div.section_container a {
      color: #492f22;
      font-weight: bold; }
.adminarea .actions {
  text-align: right; }
  .adminarea .actions a {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background: #b83113;
    padding: 4px;
    color: #f5f3ea;
    margin: 0 2px; }
    .adminarea .actions a:hover {
      background: #492f22; }
.adminarea .num {
  text-align: center; }
.adminarea .lister {
  text-align: left;
  padding-left: 10px; }
.adminarea table {
  width: 100%; }
  .adminarea table tr {
    background: #f5f3ea;
    text-align: center; }
    .adminarea table tr td {
      padding: 10px; }
    .adminarea table tr:nth-child(even) {
      background: #e8e6db; }
    .adminarea table tr:nth-child(2) td:first-child {
      border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0; }
    .adminarea table tr:nth-child(2) td:last-child {
      border-radius: 0 5px 0 0;
      -moz-border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0; }
    .adminarea table tr:last-child td:first-child {
      border-radius: 0 0 0 5px;
      -moz-border-radius: 0 0 0 5px;
      -webkit-border-radius: 0 0 0 5px; }
    .adminarea table tr:last-child td:last-child {
      border-radius: 0 0 5px 0;
      -moz-border-radius: 0 0 5px 0;
      -webkit-border-radius: 0 0 5px 0; }
    .adminarea table tr td {
      margin: 0;
      padding: 0 10px;
      height: 40px;
      text-align: left; }
  .adminarea table th {
    height: 20px;
    font: 8pt Arvo, Rockwell;
    text-transform: uppercase;
    text-align: center;
    background: #fff; }
.adminarea .field_with_errors {
  color: #b83113; }
