// Colors
$bgcolor: #d0cdbc;
$brown: #492f22;
$red: #b83113;
$blue: #6677af;
$list1: #f5f3ea;
$list2: #e8e6db;

// Measure
$header_height: 40px;

// Commands
@mixin border-radius($tl: 10px, $tr: 10px, $bl: 10px, $br: 10px) {
	border-radius: $tl $tr $bl $br;
    -moz-border-radius: $tl $tr $bl $br;
    -webkit-border-radius: $tl $tr $bl $br;
}

// Page Elements
html, body {
	font: 12px helvetica, arial, sans-serif;
	height:100%;
	}

body {
	background: $bgcolor;
}

header, footer, nav { display: block; }

.site_contain {
	width: 940px;
	margin: auto;
}

a {
	text-decoration: none;
}

.alerts li {
	color: #fff;
	text-align:center;
	@include border-radius();
	padding:5px;
	margin-bottom:10px;
		&.school_alert {
			background:$red;
		 	}
		&.exam_alert {
			background:$blue;
		}
	}

section {
	margin-top:$header_height;
	float: left;
	}

.section_container {
	background: #fff;
	padding: 10px;
	@include border-radius();
    margin: 0;
	}

h1 {
	display: inline;
	font: 16pt Arvo, Rockwell;
	color: $brown;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #fff;
	padding-left: 15px;
	margin-top: -30px;
	float:left;
	}

.settings {
	width: 17px;
	height: 16px;
	background: url('images/cog.png') top left no-repeat;
	text-indent: -9999px;
	padding-right: 15px;
	margin-top: -25px;
	float:right;
	}

.more {
	@include border-radius(0, 0, 10px, 10px);
	background: #fff;
	padding: 0 10px 10px;
	margin: 0px 20px 0 0;
	float:right;
		a {
			font-style: italic;
			color: $blue;
		}
	}

.stripelist li {
	height: 12px;
	padding: 14px;
	background: $list1;
    &.list_test { background: #e9eaf5; }
	&:first-child {
		@include border-radius(5px, 5px, 0, 0);
	}

	&:last-child {
		@include border-radius(0, 0, 5px, 5px);
	}
	&:nth-child(2n+2) {
		background:$list2;
        &.list_test { background:#dadce8; }
	}
}

.clear {
	content: ".";
	    display: block;
	    height: 0;
	    clear: both;
	    visibility: hidden;
	}
// Header
header {
	background: $brown;
	height: ($header_height) - 24px;
	margin-bottom: 10px;
	padding: 12px;
    text-align: center;
    color: #fff;

	nav {

	    background: blue;
	    margin: 0 auto;
	     width: 940px;
		a {
          color: #fff;
		}
		li {

			float:right;
			margin-right: 10px;
            margin-left: 20px;
            color: #fff;
            em {
                font-style:italic;
            }
			a {
	            color: $list1;
			    font-style:none;
	            font-weight:bold;
	            &:hover { color: $list2; }
			}
            &.logo {
                    font: 20pt Arvo, Rockwell;
                    margin-top: -8px;
                    margin-left: -16px;
                    height:20px;
                    width: 200px;
                    float:left;
                }
		}
		input {
			width:280px;
			height:30px;
		}
    }
	}

// Homework Due

.section_todo {
	width: 620px;
	margin-right: 20px;
}

ul.todo_list {
    height: 280px;
    width: 100%;
    li {
        .urgency {
            width: 10px;
            height: 40px;
            margin: -14px 14px 0 -14px; // Deal with li padding.
            background: #000;
            opacity: 0.05;
            float: left;

            &.urgent {
                height:38px;
                background:$red;
                opacity: 1;
                border-top: 1px solid #c65a42;
                border-bottom: 1px solid #a52c11;
            }
        }
         &.list_test {
                .urgent {
                    background:#06408f;
                    opacity: 1;
                    border-top: 1px solid #7171f0;
                    border-bottom: 1px solid #032b61;
                }
                strong { font-weight: bold }
            }
        &:first-child .urgency {
            @include border-radius(5px,0,0,0);
        }
        &:last-child .urgency {
            @include border-radius(0,0,0,5px);

        }
    .todo_class {
        font-size: 10px;
        color: #492f22;
        padding-right: 15px;
        }
     .todo_due {
        font-size: 10px;
        font-style: italic;
        display: block;
        text-align:right;
        margin-top: -14px;
        &.leveltest { font-weight: bold; color: #06408f; }
        &.level1 { font-weight: bold; color: #b83113; }
        &.level2 {color: #b66452; }
        &.level3 {color: #aa8647;}
        }
    }
}


// Calendar

.section_calendar {

	width: 300px;
	height: 300px;
	table {
		margin:auto;
	}
    hgroup {
        //background:blue;
        height: 70px;
        nav {
            margin:auto;
        }
    }
	table {


        tr {
		// Checkers Coloring

		background: $list1;
            text-align: center;
            &:nth-child(even) {
                    td {
                        &:nth-child(even) {
                            background:$list2;
                        }
                    }

                }
            &:nth-child(odd) {
                    td {
                        &:nth-child(odd) {
                            background:$list2;
                        }
                    }
                    .notmonth { background: #efefef }
                    td.notmonth {
                        &:nth-child(odd) {
                            background:#e1e1e1;
                        }
                    }
                }

            // Rounded Corners
            &:nth-child(1) {
                    td {
                        &:nth-child(1) {
                            @include border-radius(5px,0,0,0);
                        }
                        &:nth-child(7) {
                            @include border-radius(0,5px,0,0);
                        }
                    }
                }
            &:nth-child(5) {
                    td {

                        &:nth-child(1) {
                            @include border-radius(0,0,0,5px);
                        }
                        &:nth-child(7) {
                            @include border-radius(0,0,5px,0)
                        }
                    }
                }


            // Today

             div.task_contain {
                 width: 28px;
                 height: 28px;
                 padding: 6px;
                 div.task {
                    float:right;
                    margin-left:3px;
                    margin-bottom:3px;
                    width:7px;
                    height:7px;
                    background:url(../images/calendar.png);
                    background-position: 0 0;
                    overflow:hidden;
                    text-indent: -9999px;
                    &.completed { background-positiong: 7px 0; }
                    &.task_alert {
                        background-position: 14px 0;
                        }
                    &.task_test {
                        background-position: 7px 0;
                        }
                    &:nth-child(3n+3) {
                        margin:0;
                    }
                 }
             }


             td {
                margin: 0;
                padding: 0;
                width: 40px;
                height: 40px;
                a.opentip {
                    display:block;
                    width:40px;
                    height:40px;
                    margin-top:-40px;
                    position:absolute;
                    z-index:1000;
                }
                //overflow:hidden;
                &.today {
                    width:28px;
                    height:28px;
                    border: 4px solid $red;
                    div.task_contain {
                         width: 26px;
                         height: 26px;
                         padding: 3px;
                     }
                    a.opentip {
                     margin: -36px 0 0 -4px;
                    }

                }

             }

        }

        thead tr {
                height:10px;
                font: 8px helvetica, arial, sans-serif;
                text-transform: uppercase;
                text-align: center;
                background: #fff;
            }
	}

}

// Class Dashboard

.section_class_dashboard {
	width: 940px;
    margin-bottom: 15px;
	nav ul.stripelist {
		width: 280px;
		font-weight:bold;
		float:left;
		margin-right:40px;
        li {
            a {
                margin: -14px 0 0 -14px;
                padding: 14px 0 0 14px;
                display: block;
                color: $brown;
                width: 266px;
                height: 26px;   	     }
            a.selected {
                background:$red;
                color: #fff;
            }

            &:first-child a {
                @include border-radius(5px, 5px, 0, 0);
            }

            &:last-child a {
                @include border-radius(0, 0, 5px, 5px);
            }
        }
	}

	.class_selected {
	    position:absolute;

        margin-left:320px;
        background: white;
        width: 600px;
       // background: blue;
        hgroup {
            height: 100px;
            h2 {
                padding-top:10px;
                font: 15pt Arvo, Rockwell;
                color: $red;
            }
            .class_details {
                margin: -10px 0 0 17px;
                width: 580px;
                .teacher {
                    font-size: 14px;
                    font-style: italic;
                    color: #543d31;
                }
                .time {
                    color: #999585;
                    font-style: italic;
                    font-size: 12px;
                }
            }
        }
        h3 {
            font: 11pt Arvo, Rockwell;
            text-transform:uppercase;
            color: #999585;
            height:20px;
        }
  	    .class_pages {
  	   //  background:red;
  	     width: 120px;
  	     padding:0 10px 10px 10px;
  	     float:left;
  	     nav {
  	        padding: 20px 0 0 12px;
  	        li {
  	            padding-bottom: 6px;
  	            a {
  	                font-style: italic;
  	                color: #5265a5;
  	            }

  	        }
  	     }
  	    }

        .todo_list {
            height:160px;
  		    width:460px;
  		    float:left;
  		}
	}
}


.adminarea {

    .spacer { height:40px }
    ul.stripelist {
        text-align:center;
    }



    a {
        color: #073c95;
        font-style: italic;
        &:hover {
        color: $blue;
        }
    }
    div.content {
        width:600px;
        margin: 0 auto;
    }

    nav { width: 600px;
        li { margin-right: 0x; }
        .logo { width: 250px; }
        a { color: #fff;
        &:hover { color: #fff; }
        }
    }

    section {
        width:100%;
    }
    div.section_container {
        width:100%;
    }
    h1 { text-align: center; display:block; width: 100%;}
    .section_adminmenu {
            //width: 400px;
        div.section_container {
        text-align:center;
        a { color: $brown; font-weight:bold}
        }
    }



    .actions {
      text-align: right;
      a {
        @include border-radius(5px,5px,5px,5px);
        background: $red;
        padding: 4px;
        color: $list1;
        margin: 0 2px;
        &:hover {
          background: $brown;
        }
      }
      &.testbar a {
        background: #073c95;
      }
    }
    .num {
      text-align: center;
    }
    .lister {
      text-align: left;
      padding-left: 10px;
    }

    table {
        width: 100%;
        @include border-radius(5px,5px,5px,5px);
        tr {
		// Checkers Coloring
        @include border-radius();
            td {
                 padding: 10px;
                 background: $list1;
                 &.testbar {
                    background:#dadce8;
                 }
            }

            &:nth-child(even) { td {background:$list2;
                    &.testbar {
                    background:#e9eaf5;
                 }

            } }

            .actions a:hover { background: $brown; }

            // Rounded Corners
            &:first-child {
                    td {
                        &:first-child {
                            @include border-radius(5px,0,0,0);
                        }
                        &:last-child {
                            @include border-radius(0,5px,0,0);
                        }
                    }
                }
            &:last-child {
                    @include border-radius();
                    td {
                        &:first-child {
                            @include border-radius(0,0,0,5px);
                        }
                        &:last-child {
                            @include border-radius(0,0,5px,0)
                        }
                    }
                }


             td {
                margin: 0;
                padding: 0 10px;
                height: 40px;
                text-align:left;
             }



        }

        th {
                height:20px;
                font: 8pt Arvo, Rockwell;
                text-transform: uppercase;
                text-align: center;
                background: #fff;
            }
	}

    .field_with_errors {
        color: $red;
    }

    table.toplist {
         tr:nth-child(2) {
           td:first-child { @include border-radius(5px,0,0,0); }
           td:last-child {@include border-radius(0,5px,0,0);}
         }
         tr:nth-child(2):only-child {
           td:first-child { @include border-radius(5px,0,0,5px); }
           td:last-child {@include border-radius(0,5px,5px,0);}
           td:first-child:last-child {@include border-radius(5px,5px,5px,5px);}
         }
    }
    table.sidelist {
        tr {
            &:first-child {
              td:first-child {
                @include border-radius(5px,0,0,0)
              }
            }
            &:last-child {
              td:first-child {
                @include border-radius(0,0,0,5px)
              }
            }
        }

    }
    li.reference-name {
        text-weight: bold;
    }
    div.actions { margin-right: -10px;}


    .errorExplanation {

        li {
            text-align: center;
            @include border-radius(5px, 5px, 5px, 5px);
            background: $red;
            color: #fff;
            margin-bottom: 10px;
            padding: 5px;
        }

    }
}


//Tool tip

         .tooltip {
         	display:none;
         	background:$list1;
         	@include border-radius(10px, 0, 10px, 10px);
            border: 4px solid #c6c5b6;
         	padding:10px;
         	width:200px;
         	font-size:11px;
            z-index:1000;
         	color:#fff;
            .tipdate {
                font: 12pt Arvo, Rockwell;
                color: $brown;
                display: block;
                margin-bottom:10px;
            }
            li {
                background: $red;
                @include border-radius(5px, 5px, 5px, 5px);
                padding: 5px;
                margin-bottom:10px;
                &:last-child {
                    margin:0;
                }
                &.testtip {
                    background: $blue;
                }
                em {
                    display: block;
                    text-decoration: underline;
                    margin-bottom:5px;
                }
            }
         }
