<% @page_title = "Edit User: #{@user.name}" -%>

<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<section class="user edit">
  <h1>Edit User</h1>
  <div class="section_container">
  <%= form_for(@user, :url => user_path(@user.id), :html => { :method => :put }) do |f| %>
    
  	<%= render(:partial => 'form', :locals => {:f => f} ) %>
	
  	<div class="form-buttons">
  	  <%= submit_tag('Update User', :class => "submit") %>
    </div>
  <% end %>
</div>
</section>