<% @page_title = 'Create User' %>

<%= link_to("<< Back to List", users_path, :class => 'back-link') %>


<section class="user new">
  <h1>Create User</h1>
  <div class="section_container">
  <%= form_for(@user) do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f} ) %>
  
    <div class="form-buttons">
      <%= submit_tag('Create User') %>
    </div>
  
  <% end %>
</div>
</section>