<% @page_title = "Login" %>

<span class="login_header">Coursie</span>
<div class="login">
  <%= form_tag(:action => 'create', :method => :post) do %>

   <div class="newthing">

   <ul class="stripelist">
      <li><label for="email" class="overlabel">Email</label><%= text_field_tag(:email) %></li>
      <li><label for="password" class="overlabel">Password</label><%= password_field_tag(:password) %></li>
  </ul>
  </div>
<%= submit_tag("Please Log In", :class => "submit") %>
  <% end %>
</div>

