<% @page_title = "Admin Menu" %>

<div class="menu">
  <section class="section_adminmenu">
    <h1>Admin Menu</h1>
      <div class="section_container">
          <ul class="stripelist">
            <% if session[:type] == "Admin" %><li><%= link_to("Manage Users", users_path)%></li><%end%>
            <li><%= link_to("Manage Courses", courses_path) %></li>
          </ul>
      </div>
  </section>
</div>
