<% @page_title = "Delete #{@enrollment.student.name} from #{@enrollment.course.name}" %>

<%= link_to("<< Back to List", enrollments_path ) %>



<section class="enrollment delete section_center">
  <h1>Delete Enrollment</h1>
  <div class="section_container">
    <%= form_for(:assignment, :url => enrollment_path(@enrollment.id), :html => { :method => :delete }) do |f| -%>
    <ul class="stripelist">

      <li>Are you sure you want to permanently <%="delete #{@enrollment.student.name} from #{@enrollment.course.name}" %>?</li>

      </ul>
      <%= submit_tag("Delete enrollment", :class => "submit") %>


    <% end %>
  </div>
</section>


