<% @page_title = "Create Enrollment" %>

<%= link_to("<< Back to List", enrollments_path, :class => 'back-link') %>

<section class="enrollment new">
  <h1>Create Enrollment</h1>
  <div class="section_container">
  <%= form_for(@enrollment) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Enrollment") %>
    </div>
    
  <% end %>
</div>
</section>