<% @page_title = "Edit Teacher: #{@teacher.name}" -%>

<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<section class="teacher edit">
  <h1>Edit Teacher</h1>
  <div class="section_container">
  <%= form_for(@teacher, :url => teacher_path(@teacher.id), :html => { :method => :put }) do |f| %>
    
  	<%= render(:partial => 'form', :locals => {:f => f} ) %>
	
  	<div class="form-buttons">
  	  <%= submit_tag('Update Teacher') %>
    </div>
  <% end %>
</div>
</section>