<% @page_title = "Delete Course: #{@course.name}" %>

<%= link_to("<< Back to List", courses_path ) %>



<section class="course delete section_center">
  <h1>Delete Course</h1>
  <div class="section_container">
    <%= form_for(:assignment, :url => course_path(@course.id), :html => { :method => :delete }) do |f| -%>
    <ul class="stripelist">

      <li>Are you sure you want to permanently delete this course?</li>

      <li class="reference-name"><%= @course.name %></li>

      </ul>
      <%= submit_tag("Delete Course", :class => "submit") %>

    <% end %>
  </div>
</section>


