<% @page_title = "Delete Course: #{@course.name}" %>

<%= link_to("<< Back to List", courses_path ) %>

<div class="course delete">
  <h2>Delete Course</h2>
  
  <%= form_for(:course, :url => course_path(@course.id), :html => { :method => :delete }) do |f| -%>

    <p>Are you sure you want to permanently delete this course?</p>
  
    <p class="reference-name"><%= @course.name %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete Course") %>
    </div>
    
  <% end %>
</div>
