<% @page_title = "Edit Course: #{@course.name}" %>

<%= link_to("<< Back to List", courses_path) %>

<div class="course edit">
  <h2>Update Course</h2>

  <%= form_for(@course) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update Course") %>
    </div>
    
  <% end %>
</div>
