<% @page_title = "Create Course" %>

<%= link_to("<< Back to List", courses_path, :class => 'back-link') %>

<section class="course new">
  <h1>Create Course</h1>
  <div class="section_container">
  <%= form_for(@course) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Course", :class => "submit") %>
    </div>
    
  <% end %>
</div>
</section>